/* src/about.module.css */

.aboutMain {
  text-align: center;
  padding-top: 30px;
}

.sectionAbout {
  display: flexbox;
  flex-direction: column;
  background-color: aliceblue;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  justify-content: left;
  padding-bottom: 50px;
  padding-top: 40px;
  margin-bottom: 50px;
  font-size: 1.0em;
  
}

.aboutMe{
  display: flex;
  display: contents;
  font-size: 2.0em;
  
 
}

.aboutText {
  display: flex;
  
}




