
.sectionAbout {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  max-width: 900px;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.aboutMain {
  text-align: center;
  padding-top: 30px;
}

.aboutText {
  text-align: center;
  display: flex;
  display: contents; 
}



