

.aboutMain {
  text-align: center;
  padding-top: 0px;
}

.sectionAbout {
  display: flexbox;
  flex-direction: column;
  background-color: aliceblue;
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.aboutText {
  
  display: flex;
  display: contents;
}



