
.sectionContact {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  max-width: 800px;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.contactMain {
  text-align: center;
  padding-top: 40px;
}

.contactText {
  display: flex;
  display: contents; 
}





