/* src/contact.module.css */

.contactMain {
  text-align: center;
  padding-top: 25px;
 
}

.sectionContact {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: aliceblue;
  max-width: 700px;
  text-align: center;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 50px;
}

.contactText {
  display: flex;
  display: contents;
  font-size: 2.3em; 
  padding-bottom: 0px;
}

.contactMe{
  padding: 0
}





