/* src/project.module.css */

.sectionProject {
    max-width: 475px;
    text-align: center;
    justify-content: center;
    background-color: aliceblue;
    width:100%;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 60px;
    padding: 40px;
  }
  
.projecttMain {
    text-align: center;
    padding-top: 20px;
  }

  @media (max-width: 768px) {
    .sectionProject {
      max-width: 55%;
    }
  }

/*update -My Projects- title in home.module.css*/
  
  