/* src/index.css */
:root {
  --black: #020303;
}

body {

  background-image: url(assets/lotusFlower.jpg);
  background-size:cover;
  background-color: #dfe2e9;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;

}

main{
  display: flexbox;
  margin: 0px;
}

h1 {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  text-align:left;
 }

h2 {
  color: peru;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align:center;
}
 
 h3{
  color: darkblue;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  text-align: center;
 }

h4 {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  text-align: center;
 }

p {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  text-align:left;
  font-size: 1.0em;
  padding-right: 30px;
  padding-left: 40px;
 }
 
.header nav{
  
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  
}

.header {
  background-color: aliceblue;
  max-height: 100px;
}

.nav {
  display: flex;
  padding-top: 10px;
  font-size: 25px;
  justify-content: right;
  flex-direction: row;
  gap: 20px;
  padding-right: 50px;
  padding-left: 88px;
  padding-top: 20px;
}

.nav_logo{
  padding-left: 10px;
}

.nav ul{
  list-style: none;
  margin: 0px;
  display: flex;
  gap: 20px;
  padding-right: 50px;
  padding-top: 30px;
}

.nav a {
  text-decoration: none;
  color: darkblue
}

ul{
  list-style-type: none; 
}
