/* src/index.css */
:root {
  --black: #020303;
}

body {

  background-image: url(assets/lotusFlower.jpg);
  background-size:cover;
  background-color: #dfe2e9;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  
}

.sectionContact {
  
  background-color: whitesmoke;
  width: 50%;
  max-width: 1800px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 75px;
  padding-bottom: 60px;
}

.sectionAbout {
  
  background-color: whitesmoke;
  width: 60%;
  max-width: 1800px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 60px;
  padding: 40px
}

.sectionHome {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 40px;
  padding: 40px
}

.sectionProject {
  background-color: aliceblue;
  width: 40%;
  max-width: 1800px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 60px;
  padding: 40px;
}

.projectTitle {
  text-align: center;
}
   
h1 {
  color: #55b64e99;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  text-align:left;
 }

 

 h2 {
  color: peru;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align:left;
  
 }
 
 h3{
  color: darkblue;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  text-align: center;
 }

 h4{
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  text-align: center;
 }

 p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.0em;
 }

 .header nav{
  
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  
 }

.header {
  background-color: aliceblue;
  max-height: 100px;
}

.nav {
  display: flex;
  padding-top: 10px;
  font-size: 25px;
  justify-content: right;
  flex-direction: row;
  gap: 20px;
  padding-right: 0px;
  padding-top: 20px;
}

.nav_logo{
  padding-left: 50px;
}

.nav ul{
  list-style: none;
  margin: 0px;
  display: flex;
  gap: 20px;
  padding-right: 50px;
  padding-top: 30px;
}

.nav a {
  text-decoration: none;
  color: blue
  
}

ul{
  list-style-type: none;
  
}






